// MAIN
.mainContacto{
	@include d-flex(row, center, center);
	flex-wrap: wrap;
	width: $w-100;

	section{
		@include d-flex(row, center, center);
		flex-wrap: nowrap;
		
		article{
			.card{
				@include d-flex(row, center, center);
				width: $w-75;
			}
			background-color: $lila;	

			img{
				width: $w-100;
			}

			ul{
				text-align: center;
				font-size: $rM;
				width: $w-100;
				li{
					background-color: $lila;
					text-decoration: $noDeco;
					list-style: $noDeco;
				}
				& .YoNo{
					background-color: $cerrado;
				}
			}
				
		}
		 
	}

	.contactI{
		@include d-flex(row, center, center);
		flex-wrap: wrap;
		border-radius: $bordeContacto;
		background-color: $lima;
		font-size: $rM;
		width: $w-50;
			
		img{
			flex-direction: row;
			justify-content: center;
			width: $w-75;
		}

		h3{
			font-size: $rM;
		}

		small{
			font-weight: $font600;
			color: $negro;
		}

	}

	form{
		@include d-flex(column, center, flex-start);
		background-color: $marronLila;
		width: $w-75;
		border: $bordeForm;
	}


	div{
		width: $w-100;
	}

}
