// MAIN
.mainContacto{
	display: flex;
	flex-direction: column;
	width: $w-100;

	section{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		
		.bgLila{
			background-color: $lila;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;		

			img{
				width: $w-30;
			}

			h2{
				background-color: $lila; 
				font-weight: $font600;
			}

			ul{
				text-align: center;
				font-size: $rM;
				width: $w-50;
				& .YoNo{
					background-color: $cerrado;
				}
			}
				
		}
		 
	}

	.contactI{
		border-radius: $bordeContacto;
		background-color: $lima;
		font-size: $rXL;
			
		img{
		width: $w-50;

		}

		h3{
			font-size: $rL;
		}

		small{
			font-weight: $font700;
			color: $negro;
		}

	}

	form{
		flex-direction: column;
		background-color: $marronLila;
		font-size: $rM;
		border: $bordeForm;
	}
}
