
/* - - - GRID-CONTENEDOR - XADRE - - -*/
.containerGrid{  
	display: grid;
	background-image: $arenaL;
	background-repeat: repeat;
 	grid-template-columns: 1fr 2fr 2fr 1fr;
  	grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "main main main aside"
    "main main main aside"
    "footer footer footer footer";

    /* --clase HEADER--HIJX*/
	.header{ 
		grid-area: header; 
		@include d-flex(row, center, center);
		text-align: center;
		flex-wrap: wrap;
		font-size: $rL;
		min-height: 20vh;
		h1{
			@include d-flex(row, center, center);
			width: $w-100;
		}
		h2{
			@include d-flex(row, center, center);
			border-bottom: $bordeH2;
			margin-bottom: 1%;
		}
	}

	.main {
		 grid-area: main; 
		 @include d-flex(column, center, center);

		.aside{ 
			grid-area: aside; 
			width: $w-75;
			padding-top: 1%;

			p{	
				font-size:$rM;
				height: 35vh;
				background-color:$lila;
				padding-bottom: 1%;
				padding-top: 1%;
				border: $bordeAside;
			}
		}

		.imgL {
			width: $imgL;
			margin-top: 1%;
		}
		
		.twoI{
			@include d-flex(row-reverse, center, center);
			flex-wrap: nowrap;	
			width: $w-100;	
			.imgM {
				width: $imgL;
			}
			.imgS {
				width: $imgS;
			}
		}

	}

}