/*----------------------RESPONSIVE- DESIGN -------------------*/
/*---MEDIA QUERY - MOBILE LAST = MAX-WIDTH -(mobile-first = min-width---*/

/*dispositivos tipo TABLET-INDEX-*/

// INDEX + FOOTER
@media (max-width: 768px) {
	.header{
		width: $w-100;
		h2{
			font-size: $rL;
		}
	}
	.containerGrid {
		background-image: $arenaS;
		background-repeat: repeat;
		grid-template-areas:
		    "nav nav nav nav"
		    "header header header header"
		    "main main main main"
		    "aside aside aside aside"
		    "footer footer footer footer";

		.main{
			display: flex;

			img{
				@include d-flex(row, center, center);
				font-size: $imgM;
			}

			.aside p{
				display: $noDeco;
			}

			.twoI{
				display: $noDeco;
			}
		}
	}
//BODY
	body{
		background-image: $arenaS;
		background-repeat: repeat;
	}


//PROMOS
	.mainPromo{
		article p{
			@include d-flex(row, center, center);
			width: $w-100;
			font-size: $rM;
			font-weight: $font600;
		}

		div p{
			display: $noDeco;
		}

		.papas{
			display: $noDeco;
		}
	}

//NOSS
	.mainNos{
		@include d-flex(column, center, center);

		section{
			ul{
				display: $noDeco;
			}

			div p{
				display: $noDeco;
			}
	}
}

//CONTACTO
	.mainContacto{
		@include d-flex(column, center, center);
		background-image: $arenaS;
		background-repeat: repeat;

		img{
			font-size: $imgS;
		}

		.smallNot{
			font-size: $rXL;
			& p{
				font-size: $rLL;
			}
		}

		form{
			width: $w-75;
			font-size: $rM;
		}	
	}

}

/*dispositivos tipo CELS - CHICOS*/
//INDEX
@media (max-width: 375px) {
	.header{
		width: $w-100;
		h2{
			font-size: $rL;
		}
	}

	.main{
		img{
			display: flex;
			justify-content: center;
			width: $imgS;
		}

		section{
			display: $noDeco; 	
		}
	}
//MENU
	.mainMenug{
		.imgM{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: $imgL;
		}
	}

//PROMOS
	.mainPromo{
		@include d-flex(column, center, center);
		article h3{
			display: $noDeco;
		}
		article p{
			width: $w-50;
			font-size: $font400;
			height: 30vh;
		}
		div p{
			display: $noDeco;
		}
	}

// NOSOTRES
	.mainNos section div p{
		width: $w-100;
		font-size: $rM;
		font-weight: $font700;
		color: $negro;
	}

//CONTACTO
	.mainContacto section{
		ul li{
				width: $w-100;
				font-size: $rM;
				font-weight: $font400;
		}
		img{
			width: $w-100;
		}
		div{
			display: $noDeco;
		}
	}
}


/*dispositivos tipo CELS - MUYCHICOS/pantalla div*/
@media (max-width: 320px) {
	.header{
		width: $w-100;
		h2{
			font-size: $rM;
		}
	}
// PROMOCIONES
	.mainPromo{
		p{
		display: $noDeco;
		}
		div img{
			width: $rM;
		}
	}
// NOSOTRES
	.mainNos section{
		display: $noDeco;
	}



// CONTACTO
	.mainContacto section{
		display: $noDeco;
	}
}
