//tamaño de LOGO
$imgLogo: 50%;

//colores de fondo
$mostaza:rgba(202, 154, 42, 1);
$marronLila:rgba(165, 135, 117, 1);
$marronClaro:rgba(165, 135, 117, 1);
$lima:rgba(219, 242, 38, 1);
$pink:rgba(242, 198, 193, 1);
$green:rgba(3, 191, 156, 1);
$lila:rgba(204, 182, 179, 1);

//imagenes de fondo
$arenaL:url(../img/fondo-arena.png);

//anchoS
$w-100: 100%;
$w-75: 75%;
$w-50: 50%;
$w-30: 28%;

//ancho imagenes MENU
$imgS: 35%;
$imgM: 48%;
$imgL: 85%;

//border bottom Footer

$bordeFooterH3: 3px solid #F27457;




